#logout {
    color: red;
    padding-left: 580px;
}

#navBar {
    padding-bottom: 75px;
}

td {
    font-size: 20px;
    font-family: Bahnschrift, serif;
}

#search {
    padding-left: 500px;
    padding-top: 20px;
}

#searchBar {
    background-color: #f5e5de;
}