body {
    background-color: #f5e5de;
}

#welcome_message {
    padding-top: 200px;
    text-align: center;
}

#login_button {
    padding-top: 30px;
}

#sign_up_button {
    padding-top: 30px;
}

td {
    font-size: 20px;
    font-family: Bahnschrift, serif;
}

th {
    font-size: 27px;
    font-family: Bahnschrift, sans-serif;
}