#title_text {
    padding-top: 100px;
    text-align: center;
}

#sign_up_form {
    padding-top: 75px;
}

#links {
    padding-top: 35px;
}

#uname {
    background: transparent;
    border: 1px solid black;
}

#email {
    background: transparent;
    border: 1px solid black;
}

#inputPassword {
    background: transparent;
    border: 1px solid black;

}

#confirmPass {
    background: transparent;
    border: 1px solid black;

}

#home_button {
    align-items: center;
}

#login_redirect {
    color: white;
}